[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CalibrateSSB"]
	path = CalibrateSSB
	url = https://github.com/statisticsnorway/ssb-calibratessb
[submodule "GISSB"]
	path = GISSB
	url = https://github.com/statisticsnorway/gissb
[submodule "GaussSuppression"]
	path = GaussSuppression
	url = https://github.com/statisticsnorway/ssb-gausssuppression
[submodule "PxWebApiData"]
	path = PxWebApiData
	url = https://github.com/statisticsnorway/ssb-pxwebapidata
[submodule "SSBtools"]
	path = SSBtools
	url = https://github.com/statisticsnorway/ssb-ssbtools
[submodule "SmallCountRounding"]
	path = SmallCountRounding
	url = https://github.com/statisticsnorway/ssb-smallcountrounding
[submodule "easySdcTable"]
	path = easySdcTable
	url = https://github.com/statisticsnorway/ssb-easysdctable
[submodule "klassR"]
	path = klassR
	url = https://github.com/statisticsnorway/ssb-klassr
