[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CalibrateSSB"]
	path = CalibrateSSB
	url = https://github.com/statisticsnorway/calibratessb
[submodule "easySdcTable"]
	path = easySdcTable
	url = https://github.com/statisticsnorway/easysdctable
[submodule "GaussSuppression"]
	path = GaussSuppression
	url = https://github.com/statisticsnorway/gausssuppression
[submodule "GISSB"]
	path = GISSB
	url = https://github.com/statisticsnorway/gissb
[submodule "klassR"]
	path = klassR
	url = https://github.com/statisticsnorway/klassr
[submodule "PxWebApiData"]
	path = PxWebApiData
	url = https://github.com/statisticsnorway/pxwebapidata
[submodule "SmallCountRounding"]
	path = SmallCountRounding
	url = https://github.com/statisticsnorway/smallcountrounding
[submodule "SSBtools"]
	path = SSBtools
	url = https://github.com/statisticsnorway/ssbtools
